<div class="gettouch-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="gt-text">
            <i>
              <fa-icon [icon]="faMapMarker" id="faMapMarked"></fa-icon>
            </i>
            <p>Rudra Complex, Ring Road, Dadar,<br />Mumbai</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text">
            <i>
              <fa-icon [icon]="faPhone" id="faPhone"></fa-icon>
            </i>
            <p>1234567890 &nbsp;/ &nbsp; 0987654321</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text email">
            <i>
              <fa-icon [icon]="faEnvelope" id="faEnvelope"></fa-icon>
            </i>
            <p>Support.rudragymcenter&#64;gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="fs-about">
            <img src="./assets/logo.png" alt="Footer Logo">
            <p>Welcome to Rudra Gym, where fitness meets passion and dedication. At Rudra Gym, we pride ourselves on
              providing a professional and supportive environment to achieve their
              health and wellness goals.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-sm-12">
          <div class="fs-widget">
            <h4>Useful links</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Classes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-sm-12">
          <div class="fs-widget">
            <h4>Support</h4>
            <ul>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="fs-widget">
            <h4>Social Media</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="copyright-text">
            <p>Copyright Developed and design by &#64;Ankit Katkar</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  