<div class="container-fluid">
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/logo.png" alt="">
                </div>
                <div class="nav-menu">
                <input type="checkbox" id="check">
                <label for="check">
                    <fa-icon [icon]="faBars" id="btn"></fa-icon>
                </label>
                <ul>
                    <label for="check">
                        <fa-icon [icon]="faXmark" id="cancle"></fa-icon> 
                    </label>
                    <li><a routerLink="/">HOME</a></li>
                    <li><a routerLink="/admin-add-product">Add Product</a></li>
                    <li><a routerLink="/admin-dashboard">Dashboard</a></li>
                    <li><a >UserName</a></li>
                    <li><a >Logout</a></li>
                </ul>
                </div>
        </div>
    </nav>
</div>
