<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="head-title">
              <img src="../../assets/about-us.jpg" alt="">
              <div class="head-title-text">
                <h1>About Us</h1>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="about-image">
                <img src="./assets/about-us.jpg" alt="About Us">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
       <div class="about-content">
        <div class="about-title">
            <h5>about us</h5>
            <h2>WHAT WE HAVE DONE</h2>
        </div>

        <div class="about-info">
            <p>Welcome to Rudra Gym, where fitness meets passion and dedication. At Rudra Gym, we pride ourselves on providing a professional and supportive environment for individuals of all fitness levels to achieve their health and wellness goals.</p>
            <p>Our state-of-the-art facilities are equipped with top-of-the-line fitness equipment, ensuring that every workout session is both effective and enjoyable. Whether you're a beginner or a seasoned fitness enthusiast, our certified trainers are here to guide and motivate you every step of the way.</p>
            <p>At Rudra Gym, we understand that fitness is not just about physical strength, but also about mental well-being. That's why we offer a variety of group fitness classes, including yoga and meditation, to help you find balance and inner peace amidst life's challenges.</p>
            <p>We believe in fostering a sense of community within our gym, where members support and inspire each other to push past their limits and achieve greatness. Whether you're looking to lose weight, build muscle, or simply improve your overall health, Rudra Gym is here to help you transform your body and your life.</p>
            <p>Join us at Rudra Gym and embark on a journey towards a healthier, happier you. Your fitness goals are within reach, and we're here to help you reach them every step of the way.</p>
        </div>
       </div>
        </div>
    </div>

    <div class="choseus">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h5>WHY CHOSE US?</h5>
              <h2>PUSH YOUR LIMITS FORWARD</h2>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="cs-item">
              <span>
                <fa-icon [icon]="faDumbbell" id="btn"></fa-icon>
              </span>
              <h4>Modern equipment</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                dolore facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-item">
              <span>
                <fa-icon [icon]="faAppleWhole" id="btn"></fa-icon>
              </span>
              <h4>Healthy nutrition plan</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                dolore facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-item">
              <span>
                <fa-icon [icon]="faClipboardList" id="btn"></fa-icon>
              </span>
              <h4>Proffesponal training plan</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                dolore facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-item">
              <span>
                <fa-icon [icon]="faHeartbeat" id="btn"></fa-icon>
              </span>
              <h4>Unique to your needs</h4>
              <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis.</p>
            </div>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>