<div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h2>Login</h2>
          <form [formGroup]="userInput" class="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" name="userName" 
                  formControlName="userName"
                  [ngClass]="{'is-invalid': submitted && f['userName'].errors}">
                <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                  <div *ngIf="f['userName'].errors['required']">
                    Enter Your User Name
                  </div>
                </div>
              </div>
      
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" 
                  formControlName="password"
                  [ngClass]="{'is-invalid': submitted && f['password'].errors}">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">
                    Enter Your Correct Password
                  </div>
                </div>
              </div>
      
              <button type="submit" class="btn" (click)="onSubmit(userInput.value)">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  